* {
  font-family: "Roboto", sans-serif;
}
p {
  color: #a3a3a3;
}
.logo a,
.logo a span {
  font-family: "Playfair Display", serif;
}
.theme-color {
  background-color: #5d5fef;
}
.theme-text {
  color: #5d5fef;
}
.text-color {
  color: #a3a3a3;
}
